
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="images/logo_mini.png">
            App Translator
        </a>
        <a href="/" class="item"><i class="home icon"></i> Home</a>
        <div class="ui simple dropdown item">
            <i class="browser icon"></i> Examples <i class="dropdown icon"></i>
            <div class="menu">
                <div class="divider"></div>
                <div class="header">Header Item</div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    Downloads
                    <div class="menu">
                        <a class="item" href="/examples/DEMO.xlsx" download><i class="archive icon"></i> Demo Vocabulary</a>
                        <a class="item" href="/examples/DEMO.zip" download><i class="archive icon"></i> Demo Template</a>
                    </div>
                </div>
                <a class="item" href="#">Link Item</a>
            </div>
        </div>
    </div>
</div>