<!DOCTYPE html>
<html>
<head>
    <%- include partials/head.ejs %>
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/reset.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/site.css">-->

    <!--<link rel="stylesheet" type="text/css" href="semantic/components/container.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/grid.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/header.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/image.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/menu.css">-->

    <!--<link rel="stylesheet" type="text/css" href="semantic/components/divider.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/segment.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/form.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/input.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/button.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/list.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/message.css">-->
    <!--<link rel="stylesheet" type="text/css" href="semantic/components/icon.css">-->
    <script src="vendor/semantic/components/form.js"></script>
    <script src="vendor/semantic/components/transition.js"></script>
    <style type="text/css">
        body {
            background-color: #0061ac;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
    <title><%= title %></title>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column ui  segment">
        <div class="ui images">
                <img src="images/CoreValue_Logo_80x352.png" class="ui centered image">
            </div>
            <h2 class="ui blue image header">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>

        <form class="ui large form" method="post" action="/request">

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <button class="ui fluid large blue submit button" type="submit">Login</button>

            <div class="ui error message"></div>

        </form>

    </div>
</div>
</body>
</html>
